@tailwind base;
@tailwind components;
@tailwind utilities;

.no-hover-color:hover {
    color: inherit !important;
}

.dark-mode{
    background-color: #010104;
    color: #eae9fc;
    transition: background-color 0.5s ease, color 0.5s ease;
}
.light-mode{
    background-color: #fbfbfe;
    color: #050315;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.screen{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

span svg{
    display: inline;
}


input{
    padding: 0.5rem;
    color:black;
}
.btnOutline{
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.75rem;
    border-width: 1px;
    border-radius: .25rem;
    padding: 0.5rem 1rem;
}

.btnFilled{
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.75rem;
    border: none;
    border-radius: .25rem;
    padding: 0.5rem 1rem;
}

/* background Images */
.loginBG{
    color: white;
    height: calc(100vh);
    object-fit: cover;
    background-image: url("./assets/loginbg.jpg");
}